fastapi
uvicorn
python-multipart
PyMuPDF
pytesseract
pdf2image
reportlab
tqdm
fpdf2==2.7.8
pdfplumber 
Pillow
requests
sse-starlette
starlette-context
pydantic-settings
python-docx
pycryptodome
pandas
openpyxl
workalendar
langchain
langchain-core
langchain-community
chromadb
spacy
langchain-chroma
langchain-huggingface
sentence-transformers